<div class="alert alert-info" role="alert">
  <h4 class="alert-heading">Your cart is empty</h4>
  <p>You should go to our main page to look for awesome products!</p>
  <hr>
  <%= link_to 'Just click here to naviagete to Home page.', products_path %>
</div>